NEXT_PUBLIC_POLL_INTERVAL_MS=
NEXT_PUBLIC_CF_POLL_INTERVAL_MS=
CODEFORCES_CACHE_DURATION_MS=
DATABASE_URL=
DIRECT_URL=
POLLING_COOLDOWN_SECONDS=

app_id = 
key = 
secret = 
cluster = 

NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=
NEXT_PUBLIC_GA_ID = 
CF_MATCH_CREATION_FETCH_LIMIT=
CF_LIVE_POLLING_FETCH_LIMIT=